<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>コロナウイルスチェッカー</h1>
            <p>現在のコロナウイルス感染者の統計を表示します。</p>
        </div>
    </header>
    <%
    var arrayCorona = [];
    coronavirustimelines.forEach(function(coronavirustimeline, i){
        arrayCorona.push(coronavirustimeline.countryName);
    });
    // 重複を削除したリスト
    var repeatDeleteArray = arrayCorona.filter(function (x, i, self) {
        return self.indexOf(x) === i;
    });
    %>
    <%= repeatDeleteArray %>
    <% 
    var repeatDeleteArray_4_currentConfirmedCount = [];
    var repeatDeleteArray_4_curedCount = [];
    var repeatDeleteArray_4_deadCount = [];
    coronavirustimelines.forEach(function(coronavirustimeline, i){
        repeatDeleteArray_4_currentConfirmedCount.push({
            countryName: coronavirustimeline.countryName,
            provinceName: coronavirustimeline.provinceName,
            currentConfirmedCount: coronavirustimeline.currentConfirmedCount
        });
        repeatDeleteArray_4_curedCount.push({
            countryName: coronavirustimeline.countryName,
            provinceName: coronavirustimeline.provinceName,
            curedCount: coronavirustimeline.curedCount
        });
        repeatDeleteArray_4_deadCount.push({
            countryName: coronavirustimeline.countryName,
            provinceName: coronavirustimeline.provinceName,
            deadCount: coronavirustimeline.deadCount
        });
    });
    
    var removeDuplicated_currentConfirmedCountArray = [];
    var removeDuplicated_curedCountArray = [];
    var removeDuplicated_deadCountArray = [];
    
    // sort and consolidate element
    for(let i = 0; i < repeatDeleteArray.length; i++) {
        /* For currentConfirmed */
        var mfilter_currentConfirmedCountArray = repeatDeleteArray_4_currentConfirmedCount.filter(element => element.countryName == repeatDeleteArray[i]);
        // console.log("repeatDeleteArray[i].countryName: " + repeatDeleteArray[i].countryName);
        // console.log(mfilter_currentConfirmedCountArray);
        for(let j = 0; j < mfilter_currentConfirmedCountArray.length; j++) {
            removeDuplicated_currentConfirmedCountArray.push({
                countryName: mfilter_currentConfirmedCountArray[j].countryName,
                provinceName: mfilter_currentConfirmedCountArray[j].provinceName,
                currentConfirmedCount: mfilter_currentConfirmedCountArray[j].currentConfirmedCount
            });
        }
        
        /* For curedCount */
        var mfilter_curedCountArray = repeatDeleteArray_4_curedCount.filter(element => element.countryName == repeatDeleteArray[i]);
        for(let j = 0; j < mfilter_curedCountArray.length; j++) {
            removeDuplicated_curedCountArray.push({
                countryName: mfilter_curedCountArray[j].countryName,
                provinceName: mfilter_curedCountArray[j].provinceName,
                currentConfirmedCount: mfilter_curedCountArray[j].currentConfirmedCount
            });
        }
                
        /* For deadCount */
        var mfilter_deadCountArray = repeatDeleteArray_4_deadCount.filter(element => element.countryName == repeatDeleteArray[i]);
        for(let j = 0; j < mfilter_deadCountArray.length; j++) {
            removeDuplicated_deadCountArray.push({
                countryName: mfilter_deadCountArray[j].countryName,
                provinceName: mfilter_deadCountArray[j].provinceName,
                currentConfirmedCount: mfilter_deadCountArray[j].currentConfirmedCount
            });
        }
    }
    %>
    
    <%= gotDate %>


    
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <table class="table table-striped  table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">国名</th>
              <th scope="col">州名</th>
              <th scope="col">かかった人</th>
              <th scope="col">治癒者</th>
              <th scope="col">死者</th>
            </tr>
          </thead>
        　<tbody>
            <% coronavirustimelines.forEach(function(coronavirustimeline, i){ %>
                <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= coronavirustimeline.countryName %></td>
                <td><%= coronavirustimeline.provinceName %></td>
                <td><%= coronavirustimeline.currentConfirmedCount %></td>
                <td><%= coronavirustimeline.curedCount %></td>
                <td><%= coronavirustimeline.deadCount %></td>
                </tr>
            <% }) %>
          </tbody>
    <% coronavirustimelines.forEach(function(coronavirustimeline, i){ %>
        <%= //coronavirustimeline.countryName %>,
    <% }) %>
    </div>
</div>


<% include partials/footer %>